body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f5f5f5;
}

.hedding {
  font-size: 20px;
  color: #818dab;
}

.main-section {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 5%);
}

.left-side-product-box img {
  width: 100%;
}

.left-side-product-box .sub-img img {
  margin-top: 5px;
  width: 83px;
  height: 100px;
}

.right-side-pro-detail span {
  font-size: 15px;
}

.right-side-pro-detail p {
  font-size: 25px;
  color: #a1a1a1;
}

.right-side-pro-detail .price-pro {
  color: #4159e4;
}

.right-side-pro-detail .tag-section {
  font-size: 18px;
  color: #46525d;
}

.pro-box-section .pro-box img {
  width: 100%;
  height: 200px;
}

@media (min-width: 360px) and (max-width: 640px) {
  .pro-box-section .pro-box img {
    height: auto;
  }
}
.x {
  border: none;
  background-color: rgb(255, 255, 255, 0);
}
.mw400 {
  min-width: 400px;
}
.w50 {
  width: 30%;
}
.header-container {
  display: flex;
  height: 4em;
  padding-left: 1em;
  background-color: rgb(229, 242, 255);
  justify-content: space-between;
  align-items: center;
}
.contents-container {
  display: inherit;
  gap: 1em;
  margin-right: 2em;
}
.categories-container {
  display: inherit;
  gap: 1em;
}
.categories-container a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.order-container {
  padding: 1em;
  height: 16em;
}
.categories-container a:hover {
  color: rgb(51, 51, 51);
}
.categories-container a:active {
  color: rgb(62, 62, 130);
}
.product-container {
  width: 100vw;
  height: 100vh;
}
.top {
  display: flex;
  justify-content: space-between;
}
.product-price {
  margin-top: 1em;
  display: block;
  width: 100%;
  text-align: center;
}
.order-body {
  height: 100%;
  gap: 1em;
  display: flex;
}
.hov:hover {
  cursor: pointer;
}
.dataview-demo .p-dropdown {
  width: 14rem;
  font-weight: normal;
}

.dataview-demo .product-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.dataview-demo .product-description {
  margin: 0 0 1rem 0;
}

.dataview-demo .product-category-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.dataview-demo .product-category {
  font-weight: 600;
  vertical-align: middle;
}

.dataview-demo .product-list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.dataview-demo .product-list-item img {
  width: 150px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
}

.dataview-demo .product-list-item .product-list-detail {
  flex: 1 1 0;
}

.dataview-demo .product-list-item .p-rating {
  margin: 0 0 0.5rem 0;
}

.dataview-demo .product-list-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  align-self: flex-end;
}

.dataview-demo .product-list-item .product-list-action {
  display: flex;
  flex-direction: column;
}

.dataview-demo .product-list-item .p-button {
  margin-bottom: 0.5rem;
}

.dataview-demo .product-grid-item {
  margin: 0.5em;
  border: 1px solid var(--surface-border);
  padding: 2rem;
}

.dataview-demo .product-grid-item .product-grid-item-top,
.dataview-demo .product-grid-item .product-grid-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dataview-demo .product-grid-item img {
  width: 75%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 2rem 0;
}

.dataview-demo .product-grid-item .product-grid-item-content {
  text-align: center;
}

.dataview-demo .product-grid-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .dataview-demo .product-list-item {
    flex-direction: column;
    align-items: center;
  }

  .dataview-demo .product-list-item img {
    width: 75%;
    margin: 2rem 0;
  }

  .dataview-demo .product-list-item .product-list-detail {
    text-align: center;
  }

  .dataview-demo .product-list-item .product-price {
    align-self: center;
  }

  .dataview-demo .product-list-item .product-list-action {
    display: flex;
    flex-direction: column;
  }

  .dataview-demo .product-list-item .product-list-action {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
